section
  .hero.position-relative.overflow-hidden.clearfix.text-light
   .container
      .row
        .col-md-7.col-lg-5.px-md-3
          .ml-auto.p-5
            h3 404
            p Whoops. Looks like what you're looking for can't be found.
            a.btn.btn-primary.btn-lg(href="/") Go home