section.bg-gray-100
  .container
    .row
      .col-md-6.mx-auto.my-5
        h3 The Chat Landscape
        p
          | Currently, there are close to 2 billion users of messaging apps,
          | increasing annually by 15.5%. While usage in most other app
          | categories is declining. With this trend comes the proliferation of
          | AI and chatbots as the new standard for reaching audiences. This
          | trend will accelerate as chatbots become more intelligent,
          | sophisticated and deliver more engaging experiences.
        h3 Benefits of Conversational Interfaces
        p
          | Conversational interfaces can change to meet requirements on the fly
          | in ways a conventional UI never will. Messaging is a simpler medium
          | for small business and DIY creators than apps or websites, and
          | publishers can achieve more with less resources. They can often
          | facilitate faster outcomes for users, without the need to move
          | between multiple channels.
        p
          | Conversation can be translated and meet a range of accessibility
          | requirements, through the versatility of text or voice assistants.
          | Via a text based medium, we can also deliver services to the
          | billions of bandwidth constrained users coming online.
        h3 The Problem
        p
          | Big platform bots are servicing the initial transition. While they
          | prove its value, they capture and control too much, slowing
          | innovation and the growth of a true ecosystem. The quality of
          | interactions on average is low, yet the users persist!
        p
          | Many of the services and products available are inflexible, prone to
          | change without transparency, limit features or scale through
          | pricing models, and can't ensure the security or access to user
          | data.
        h3 Enter Amazebot
        p
          | The space is maturing and creators need more control of their
          | product. There is immense value to be created and shared by
          | becoming the driver for that evolution.
        p.w-75.mx-auto
          i.highlight
            | We can improve the quality of conversation and let people create
            | on their own terms.
        p
          | The industry is having a reaction to big platform dominance, moving
          | towards open systems. In many sectors, the products that thrive are
          | those that focus on benefit to the entire ecosystem. Sustainable
          | revenue models are equitable with the growth they enable in their
          | community. We will follow those examples, supporting the growth of
          | the whole pie, instead of just taking a slice.
        p.w-75.mx-auto
          i.highlight
            | Amazebot will power a new ecosystem of independent conversation
            | creators.
        h3 Who Are We?
        p
          | Amazebot was founded by Tim Kinnane to support creators of unique,
          | accessible and essentially human solutions for conversation. His
          | work in energy and property startups exposed a massive shift in the
          | world of service delivery and decision support powered by a new era
          | of messaging technology.
        p
          | Tim has 15 years experience bridging engineering, design and
          | communications disciplines. Together with his wife Amy, who is
          | herself a leading UX consultant specialising in Conversation Design
          | on chat and AI projects, they steward a broad community of more
          | than a thousand messaging professionals in their Melbourne Meetup
          | group.
        p
          | Through user research, community management and partnership with our
          | clients, we are defining a unique model for creating conversational
          | interfaces that balances engineering, design and even a dose of
          | theatre. Get in touch to find out more.
section.bg
  .container.py-5
    .row
      .col-md-6.mx-auto
        .big 🤗
        p
          span.highlight
            | If you'd like to be part of the conversation, please sign up.
            | <br>We hope to both educate and learn from our community.
        h3 Sign up for updates
        != partial("_partials/signup")