section.bg-gray-100
  .container
    .row.mt-5
      .col-md-8.col-lg-4.p-5.py-sm-4
        h1.big 🏛️
        :markdown
          Amazebot holds itself to a high standard of accountability, to be
          responsible stewards of an open source community and more crucially,
          to be aware of our responsibilities in the automation of human
          communication and tasks.
      .col-md-8.col-lg-4.p-5.py-sm-4
        h1.big 🧜‍
        :markdown
          We subscribe to principles such as those in
          [The Copenhagen Letter](https://copenhagenletter.org/), which in
          practice means we do not support the use of our technology to deceive,
          control or take a role away from a person unwillingly.
      .col-md-8.col-lg-4.p-5.py-sm-4
        h1.big 💗
        :markdown
          In following the
          [Contributor Covenant](https://www.contributor-covenant.org/) for
          community interactions, documentation and even code reviews, we see
          inclusion and diversity in our people and ideas not as a soft
          requirement, but an absolute necessity.
      .col-md-8.col-lg-4.p-5.py-sm-4
        h1.big ♿
        :markdown
          We work with the Accessibility community because we believe these
          concerns should be forefront in product design and see conversational
          UI as having unique advantages to deliver in this space. We want to be
          your A11y ally.
      .col-md-8.col-lg-4.p-5.py-sm-4
        h1.big 🔒
        :markdown
          We aim to exceed the requirements of international standards like the
          [General Data Protection Regulation](https://www.eugdpr.org/)
          to ensure we have security and privacy baked-in and creators working
          with our technology can easily protect their users.
section.bg-blue.text-light.clip.mt-5
  .container
    blockquote.p-5.m-0
      p For millions of years, mankind lived just like the animals. Then something happened which unleashed the power of our imagination. We learned to talk and we learned to listen. Speech has allowed the communication of ideas, enabling human beings to work together to build the impossible.
      p Mankind's greatest achievements have come about by talking, and its greatest failures by not talking. It doesn't have to be like this. Our greatest hopes could become reality in the future. With the technology at our disposal, the possibilities are unbounded. All we need to do is make sure we keep talking.
      cite - Stephen Hawking
