section#intro
  .hero.position-relative.overflow-hidden.clearfix.text-light
    .container
      .row
        .col-md-6.col-lg-5.p-5
          h3 There's just something great about <strong>conversation</strong>.
          p There's a buzz you get from sharing a new idea or expressing a feeling, when you're on the same page and it all just flows. You feel truly engaged. You'll never get that from filling out a form or navigating an interface. That's why we're all-in on conversational UI.
section#mission.bg-light
  .container
    .row
      .col-sm-12.col-md-10.col-lg-9.col-xl-8.mx-auto.p-5.text-center
          h3.my-4 Amazebot provides messaging automation strategy in partnership with organisations who use our technology.
          a.btn.btn-primary.btn-lg(href="//bbot.chat") Meet bBot
section#technology
  .container
    .row
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 👌
        p bBot is our conversation engine for building bespoke bots. It is open source and platform independent, making it secure, scalable and adaptive.
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 🤲
        p We're experimenting, iterating and sharing with our community. We give the technology away and focus on methodology, training and execution.
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 🤝
        p We understand the messaging space and partner with organisations to provide the means to meaningfully solve problems for their audience.
section.bg-lavender.text-light.clip.mt-3
  #story-3.container
    .row
      .col-md-6.py-3.px-5
        .tag JUL '18
        h4 The bBot Conversation Engine alpha is published with docs and a demo using IBM Watson sentiment analysis.
      .col-md-6.py-3.px-5
        .tag JUN '18
        h4 Our collaboration with Rocket.Chat continues as mentors for Google Summer of Code projects expanding bot features.
    .row.pb-5
      .col-md-6.py-3.px-5
        .tag MAY '18
        h4 Amazebot sponsors the Melbourne Chatbot Messaging &amp; AI community meetup.
      .col-md-6.py-3.px-5
        include img/meetup-logo.svg
section.bg-aqua.clip.pb-3
  #story-2.container
    .row
      .col-md-6.py-3.px-5
        .tag APR '18
        h4 We're working with Rocket.Chat to improve support for its international community of bot creators, from hobby hackers to enterprise teams.
        p
          img.pt-3.img-fluid(src="img/rocketchat.png", alt="Rocket.Chat", style="max-width: 200px")
      .col-md-6.py-3.px-5
        p
          img.pb-3.img-fluid(src="img/blockparty.png", alt="Blockparty")
        .tag MAR '18
        h4 Amazebot team wins the Blockstack Signature Fund bounty with a world first community chat platform for the decentralised web.          
section
  .container
    h3.pt-5.text-center We're about Human Centred Bots
    .row
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.px-lg-5.py-3.mx-sm-auto.text-center
        .triangle.bg-rose.mx-auto.my-2
        p Enhance, not replace human interaction
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.px-lg-5.py-3.mx-sm-auto.text-center
        .triangle.bg-rose.mx-auto.my-2
        p Remove the mundane, for users and providers
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.px-lg-5.py-3.mx-sm-auto.text-center
        .triangle.bg-rose.mx-auto.my-2
        p Engage participants in new and exciting ways
section.bg
  .container.py-5
    .row
      .col-md-6.mx-auto
        .big 🤗
        p
          span.highlight We're sharing new features and learning from our maker community. Get access to support and help all our bots achieve their potential.
        h3 Request an invite 
        != partial("_partials/signup")