section#intro.mt-md-4
  .hero.position-relative.overflow-hidden.clearfix.text-light
    .container
      .row
        .col-md-6.col-lg-5.p-5
          h3 There's just something great about <strong>conversation</strong>.
          p There's a buzz you get from sharing a new idea or expressing yourself, when you can make something happen just by saying it. You feel truly engaged. You'll never get that from filling out a form or navigating an interface. That's why we're all-in on conversational UI.
section#mission.bg-light
  .container
    .row
      .col-sm-12.col-md-10.col-lg-9.col-xl-8.mx-auto.p-5
          h3.my-4 Amazebot provides automation solutions and support to platforms and agencies building the next generation of conversational apps.
section#technology
  .container
    .row
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 👌
        p
          | Our open source framework for enterprise teams is powering a new
          | eco-system of independent conversation creators.
        p
          a.btn.btn-primary.btn-lg(href="//bbot.chat") Meet bBot
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 🤲
        p
          | We share technical solutions with our community and partners in the
          | messaging space. Our focus is education, experience and execution
          | to meaningfully solve problems for their audience.
      .col-md-8.col-lg-4.p-5.py-sm-4.mx-md-auto
        h1.big 🇦🇺
        p
          | We're proudly Australian, with roots in the Melbourne startup and
          | chat community. We work with global brands and have users from Rio
          | to Toronto, Hong Kong, Boston and beyond.
section
  hr
  .container
    h5.pt-5.pb-3.text-center We're about Human Centred Bots...
    .row.mb-5
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.py-3.mx-sm-auto
        .shape.mx-auto.my-2
          include img/shape1.svg
        h5.text-center <b>Enhance</b> not <i>replace</i> human conversation
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.py-3.mx-sm-auto
        .shape.mx-auto.my-2
          include img/shape2.svg
        h5.text-center Remove the mundane interactions
      .col-sm-6.col-md-4.col-lg-3.px-sm-4.py-3.mx-sm-auto
        .shape.mx-auto.my-2
          include img/shape3.svg
        h5.text-center Engage in new and exciting ways
section.bg
  .container.py-5
    .row
      .col-md-6.mx-auto
        .big 🤗
        p
          span.highlight We're sharing new features and learning from our maker community. Get access to support and help all our bots achieve their potential.
        h3 Request an invite 
        != partial("_partials/signup")