section.hero.position-relative.overflow-hidden.clearfix
  .container
    .row
      .col-md-5.text-light
        .ml-auto.p-3.p-md-5
          h3 There's just something great about conversation.
          p There's that buzz you get from sharing a new idea or expressing a feeling, when you're on the same page and it all just flows. You feel truly engaged. You'll never get that from filling out a form or navigating an interface. That's why we're all-in on conversational UI.
      .col-md-7
        .ml-auto.p-3.p-md-5
section.container
  .row
    .col
      h3 Amazebot provides messaging automation strategy in partnership with organisations who use our technology.