@import url('https://fonts.googleapis.com/css?family=Convergence');

$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: 'Convergence', $font-family-sans-serif;
$headings-line-height: 1.4;

$font-size-base: 1.2rem;
$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;

$brand-blue: #5C56FF;
$brand-purple: #9693EF;
$brand-turquoise: #7EFFE2;
$brand-aquamarine: #B7FFEF;
$brand-pink: #EC94BF;
$brand-rose: #E2E1FF;
$brand-lavender: #9693EF;

$theme-colors: (
  "blue":       $brand-blue,
  "purple":     $brand-purple,
  "pink":       $brand-pink,
  "turquoise":  $brand-turquoise,
  "aquamarine": $brand-aquamarine,
  "rose":       $brand-rose,
  "lavender":   $brand-lavender
);

$gray-100: #FBFBFB;
$primary: $brand-pink;

$input-btn-padding-x: 1.2rem;
$btn-border-radius: 99px;
$btn-border-radius-lg: 99px;
$line-height-base: 1.6;

@import "../scss/bootstrap";

$body-color: $gray-700;
$hero-clip: 200px;
$hero-major: 55%;
$hero-minor: 45%;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
nav {
  background: white;
}
header {
  color: $brand-purple;
  background: $gray-100;
  &>div {
    z-index: 1;
  }
}
.hero {
  background-image: url("./img/hero-bg.png");
  background-color: $brand-blue;
}
footer {
  a, a:hover {
    color: white;
  }
  background-image: url("./img/hero-bg.png");
  background-color: $brand-blue;
}
section svg {
  max-width: 400px;
}
h1, h2, h3, h4, footer {
  svg {
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
  }
}

body > nav,
body > header,
body > main,
body > footer {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

#logo img { max-width: 100% }
#logo { margin-bottom: .5em }
#logo + h2 { font-size: 1.6rem }
.hero {
  clip-path: polygon(0 0,100% 90px,100% 100%,0 100%,0 0);
  padding-top: 90px;
  margin-top: -45px;
}

@include media-breakpoint-up(md) {
  #logo + h2 { font-size: 2rem }
  .hero {
    top: -$hero-clip;
    padding-top: $hero-clip;
    margin-top: 0;
    margin-bottom: -$hero-clip;
    background: $brand-turquoise;
    -webkit-clip-path: polygon($hero-major $hero-clip, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon($hero-major $hero-clip, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $hero-major;
    height: 100%;
    background-image: url("./img/hero-bg.png");
    background-color: $brand-blue;
  }
  .hero::after {
    -webkit-clip-path: polygon(0 $hero-clip, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 $hero-clip, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: $hero-minor;
    height: 80%;
    background: repeating-linear-gradient(
      90deg,
      $brand-turquoise,
      $brand-turquoise 10px,
      $brand-rose 10px,
      $brand-rose 20px
    )
  }
}
@include media-breakpoint-up(lg) {
  .hero {
    -webkit-clip-path: polygon($hero-minor $hero-clip, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon($hero-minor $hero-clip, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .hero::before {
    width: $hero-minor;
  }
  .hero::after {
    width: $hero-major;
  }
}

h1, h2, h3, h4 {
  color: $brand-pink;
}
.text-light {
  h1, h2, h3, h4 {
    color: white;
  }
}
.hero {
  h1, h2, h3, h4 {
    color: $brand-aquamarine;
  }
}

.big {
  font-size: 300%
}

.tag {
  border-bottom: 3px solid;
  margin-bottom: 1em;
  display: inline-block;
  padding: 0;
  font-weight: bold;
}

.clip {
  -webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
  padding-top: 50px;
  margin-top: -50px;
}

.triangle {
  width: 80px;
  height: 60px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.btn-primary {
  color: white
}
.btn-secondary {
  @include button-variant(white, $brand-pink);
  color: $brand-pink;
}
.bg-aqua {
  background: $brand-aquamarine;
  color: $brand-lavender;
  h1, h2, h3, h4 {
    color: $brand-lavender;
  }
}
.bg-blue, .bg-lavender {
  .btn-secondary {
    @include button-variant($brand-turquoise, $brand-turquoise);
    color: $brand-blue;
  }
}
.bg {
  background: url("/img/bg.png")
}
.highlight {
  background-color: $brand-rose;
}
.circle {
  max-width: 240px;
  border-radius: 100%;
  background: white;
  padding: 3em;
}