section.bg.pre-clip
  .container.py-5
    .row
      .col-md-6.mx-auto
        .big 🗞️
        p
          span.highlight
            | Subscribe for updates on our framework features and startup journey.
            a.py-2.d-inline-block.bold.mx-2(href="https://mailchi.mp/11265f8ddc58/our-first-update-amazenews") Or view past editions here 👈
        h3 Get updates
        != partial("_partials/signup")        
section.bg-lavender.text-light.clip.mt-3
  #story-3.container
    .row.pb-5
      .col-md-6.py-3.px-5
        .tag AUG '18
        h4 We took part in the Y-Combinator Startup School program, a great experience and network to help our company evolve.
      .col-md-6.py-3.px-5
        .tag AUG '18
        h4 More guides and videos published as bBot moves into beta, including support for the new rich message UI in Rocket.Chat.
      .col-md-6.py-3.px-5
        .tag JUL '18
        h4 The bBot Conversation Engine alpha is published with docs and a demo using IBM Watson sentiment analysis.
      .col-md-6.py-3.px-5
        .tag JUN '18
        h4 Our collaboration with #[a(href="https://rocket.chat") Rocket.Chat] continues as mentors for Google Summer of Code projects expanding bot features.
section.bg-aqua.clip.pb-3
  #story-2.container
    .row
      .col-md-6.py-3.px-5
        .tag MAY '18
        h4 Amazebot sponsors the Melbourne Chatbot Messaging &amp; AI community meetup.
      .col-md-6.py-3.px-5
        include img/meetup-logo.svg
    .row
      .col-md-6.py-3.px-5
        .tag APR '18
        h4 We're working with #[a(href="https://rocket.chat") Rocket.Chat] to improve support for its international community of bot creators, from hobby hackers to enterprise teams.
      .col-md-6.py-3.px-5
        .tag MAR '18
        h4 Amazebot team wins the #[a(href="https://blockstack.org") Blockstack] Signature Fund bounty with a world first community chat platform for the decentralised web.