nav.site-header.sticky-top.py-1(role="navigation")
  div.container.d-flex.flex-column.flex-md-row.justify-content-between
    a.py-2(href="#")
      include /img/logo-small.svg
      for title, href in public._data.navbar
        a.py-2.d-none.d-md-inline-block(href=href)
